* {margin:0;
    padding: 0;
}
nav {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 176, 102);
    line-height: 50px;
    
}
nav > ul > li {
    display: inline-block;
    color: rgb(134, 171, 240);
    
}
.dropdown-content {
    display: none;

    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(134, 171, 240, 2);
    padding: 0 15px;
}

.dropdown-content a{
    display: block;
    margin: 10px 10px 10px 10px;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-menu{
    position: relative; left: 10px;
    font-weight: bold;
    color: seashell;
}
