#header {
    text-align: center;
    background: linear-gradient( to right, #C6FF70, #dceeff)
}

nav {
    width: 100%;
    height: 50px;
    background-color: rgb(240, 240, 240);
    line-height: 50px;
    border-radius: 10px; 

    
}
nav > ul > li {
    display: inline-block;
    color: #fff;
    
}
.dropdown-content {
    display: none;

    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    padding: 0 15px;
}

.dropdown-content a{
    display: block;
    margin: 10px 10px 10px 10px;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-menu{
    position: relative; left: 10px;
    font-weight: bold;
    color: seashell;
}
